---
http_interactions:
- request:
    method: delete
    uri: https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 Jul 2016 18:27:54 GMT
- request:
    method: post
    uri: https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-name","title":"PRODUCT NAME","description":"As
        seen on TV!","published_at_foreign":"2015-07-25T18:27:53Z","variants":[{"id":"1","title":"PRODUCT
        NAME","sku":"SKU-1","price":19.99,"visiiblity":true}]}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"PRODUCT NAME","handle":"product-name","url":"","description":"As
        seen on TV!","type":"","vendor":"","image_url":"","variants":[{"id":"1","title":"PRODUCT
        NAME","url":"","sku":"SKU-1","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"","created_at":"2016-07-25T18:27:55+00:00","updated_at":"2016-07-25T18:27:55+00:00","_links":[{"rel":"self","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1/variants/1","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"parent","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Collection.json"},{"rel":"update","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1/variants/1","method":"PATCH","schema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"upsert","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1/variants/1","method":"PUT","schema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"delete","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1/variants/1","method":"DELETE"}]}],"published_at_foreign":"2015-07-25T18:27:53+00:00","_links":[{"rel":"self","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json"},{"rel":"parent","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Collection.json"},{"rel":"delete","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1","method":"DELETE"},{"rel":"variants","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/sample-store/products/1/variants","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Collection.json"}]}'
  recorded_at: Mon, 25 Jul 2016 18:27:55 GMT
recorded_with: VCR 3.0.3
