---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Jul 2016 19:09:08 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-name","title":"PRODUCT NAME","description":"As
        seen on TV!","published_at_foreign":"2015-07-26T19:09:07Z","variants":[{"id":"1","title":"PRODUCT
        NAME","sku":"SKU-15","price":19.99,"visiiblity":true,"url":"http://www.example.com/products/product-name"}]}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"PRODUCT NAME","handle":"product-name","url":"","description":"As
        seen on TV!","type":"","vendor":"","image_url":"","variants":[{"id":"1","title":"PRODUCT
        NAME","url":"http://www.example.com/products/product-name","sku":"SKU-15","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"","created_at":"2016-07-26T19:09:08+00:00","updated_at":"2016-07-26T19:09:08+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Collection.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PATCH","schema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PUT","schema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"DELETE"}]}],"published_at_foreign":"2015-07-26T19:09:07+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Collection.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"DELETE"},{"rel":"variants","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Collection.json"}]}'
  recorded_at: Tue, 26 Jul 2016 19:09:08 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-name","title":"NEW NAME","description":"As
        seen on TV!","published_at_foreign":"2015-07-26T19:09:07Z","variants":[{"id":"1","title":"NEW
        NAME","sku":"SKU-15","price":19.99,"visiiblity":true,"url":"http://www.example.com/products/product-name"}]}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Bad
        Request","status":400,"detail":"We were unable to process the request. A product
        with the provided ID already exists in the account.","instance":""}'
  recorded_at: Tue, 26 Jul 2016 19:09:08 GMT
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"NEW NAME","sku":"SKU-15","price":19.99,"visiiblity":true,"url":"http://www.example.com/products/product-name"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    header[...]
