---
http_interactions:
- request:
    method: delete
    uri: https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Jul 2016 18:56:52 GMT
- request:
    method: put
    uri: https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2
    body:
      encoding: UTF-8
      string: '{"id":"2","title":"Product #1 - 9829 Size: S","sku":"SKU-1","price":19.99,"visiiblity":true,"url":"http://www.example.com/products/product-1-9829"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us13.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Parent
        Product Does Not Exist","status":400,"detail":"The parent product must already
        exist in order to use PUT on the Variants endpoint.","instance":""}'
  recorded_at: Tue, 26 Jul 2016 18:56:52 GMT
- request:
    method: post
    uri: https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-1-9829","title":"Product #1 - 9829","description":"As
        seen on TV!","published_at_foreign":"2015-07-26T18:56:50Z","variants":[{"id":"1","title":"Product
        #1 - 9829","sku":"SKU-2","price":19.99,"visiiblity":true,"url":"http://www.example.com/products/product-1-9829"},{"id":"2","title":"Product
        #1 - 9829 Size: S","sku":"SKU-1","price":19.99,"visiiblity":true,"url":"http://www.example.com/products/product-1-9829"}]}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #1 - 9829","handle":"product-1-9829","url":"","description":"As
        seen on TV!","type":"","vendor":"","image_url":"","variants":[{"id":"1","title":"Product
        #1 - 9829","url":"http://www.example.com/products/product-1-9829","sku":"SKU-2","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"","created_at":"2016-07-26T18:56:52+00:00","updated_at":"2016-07-26T18:56:52+00:00","_links":[{"rel":"self","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"parent","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Collection.json"},{"rel":"update","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PATCH","schema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"upsert","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PUT","schema":"https://us13.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"delete","href":"https://us13.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"DELETE"}]},{"id":"2","title":"Product
        #1 -[...]
[...]
